body {
    background-color: #5FCBEE;
    color: white;
    text-align: center;
    margin: 50px;
}

hr {
    border: none;
    height: 3px;
    background-color: white;  
  }

.top {
    width: auto;
    height: 400px;
}

img {
    width: 100%;
}

table  {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}