body {
    background-color: #5FCBEE;
    color: white;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

hr {
    border: none;
    height: 3px;
    background-color: white;  
}

.centered-vertically {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80%;
    width: 100%;
}

.logo {
    height: 35rem;
}

.icon {
    width: 5rem;
}

footer {
    text-align: right;
    margin-top: auto;
    margin-bottom: 1rem;
}
